name: CI

on:
  push:
    branches:
      - main

jobs:
  lint:
    name: Run Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run golangci-lint.
        uses: actions-contrib/golangci-lint@v1
